@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap');

#root {
  height: 100vh;
}

input[type="checkbox"]:checked + label::before {
  padding: 5px;
  background-image: url('./svg/check.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #d9d9cc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfb4;
}
